<header class="header">
    <nav class="nav">
        <div class="nav__container">            <div class="nav__logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="MALIKLI1992 Logo" class="logo-image">
                </a>
            </div>
            <div class="nav__menu">
                <a href="about.html" class="nav__link" data-nav-link="about" data-i18n="nav.about">About</a>                <div class="language-switcher" id="language-switcher">
                    <button class="language-switcher__button" id="current-language">
                        <span class="language-flag">🇺🇸</span>
                        <span class="language-name">🇺🇸</span>
                        <span class="language-arrow">▼</span>
                    </button>
                    <div class="language-switcher__dropdown" id="language-dropdown">
                        <!-- Language options will be populated by i18n.js -->
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
